**/build
**/out
**/output
**/.idea
**/.history

#lean
**/lakefile.olean
**/lake-packages/*

lean
#jvm
*.class
**/*.log
**/logs
**/target/
**/*.olean
**/.lake


# VSCode
**/.vscode/
**/.scala_dependencies
**/.worksheet

# IntelliJ-IDEA
**.iml
**/.idea/
**/.idea_modules/

#Misc
**/temp
/.lake

# Coq intermediate files
*.vo
*.vio
*.vos
*.vok
*.glob
*.aux
**.lia.cache