[submodule "original/minidot"]
	path = original/minidot
	url = https://github.com/TiarkRompf/minidot
[submodule "original/dot"]
	path = original/dot
	url = https://github.com/samuelgruetter/dot-calculus
